@font-face {
  font-family: 'Pretendard';
  src:   url("/fonts/Pretendard-Light.woff")format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url("/fonts/Pretendard-Regular.woff")format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url("/fonts/Pretendard-Medium.woff")format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url("/fonts/Pretendard-SemiBold.woff")format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url("/fonts/Pretendard-Bold.woff")format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url("/fonts/Pretendard-ExtraBold.woff") format('woff');
  font-weight: 800;
  font-style: normal;
}

// index
$blue-500: rgb(59 130 246);
$blue-600: rgb(37 99 235);
$gray-300: rgb(209 213 219);
$gray-400: rgb(156 163 175);
$gray-500: rgb(107 114 128);
$gray-700: rgb(55 65 81);

* {
  font-family: 'Pretendard';
  box-sizing: border-box;
}
body, html {
  margin: 0;
  width: 100%;
  height: 100%;
}
button, h1 {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
  font-weight: 0;
}
#webgl, #css3DObject {
  position: absolute;
  left: 0;
  top: 0;
}
#loading {
  #playStart, #test {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: white;
    font-size: 30px;
    font-weight: 700;
    padding: 20px;
  }
}
#test {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
  background-color: white;
  font-size: 30px;
  font-weight: 700;
  padding: 20px;
}
#back-btn {
  transition: 300ms ease-in-out;
  position: fixed;
  bottom: -140px;
  left: 40px;
  font-size: 50px;
  font-weight: 700;
  background: $blue-600;
  color: white;
  padding: 14px 26px;
  border-radius: 16px;
  border: 6px solid $blue-600;
  z-index: 1;
}
#dialogInterface {
  position: fixed;
  bottom: -30%;

  #dialogBox {
    transition: 300ms ease-in-out;
    position: fixed;
    bottom: -30%;
    left: 20px;
    font-size: 50px;
    font-weight: 700;
    background-color: rgba(255,255,255,0.7);
    backdrop-filter: blur(10px);
    color: black;
    border: 6px solid $blue-600;
    border-radius: 16px;
    width: calc(100% - 40px);
    height: 30%;
  }
}


// -------------- skills ---------------
.skills-body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 16px 20px;
  margin-left: 13px;
  overflow: hidden;

  // skills title
  .skills-title-wrap {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 3px;

    .skills-title {
      font-size: 24px;
      color: $blue-500;
      font-weight: 700;
    }
  }

  // skills braces(중괄호)
  .skills-braces {
    font-size: 20px;
    font-weight: 700;
    color: $gray-400;
    opacity: 0.8;
  }

  // skills intro
  .skills-intro {
    font-size: 14px;
    font-weight: 500;
    color: $gray-700;
    margin: 12px 0;
    line-height: 1.5;
    .important-skill {
      border-bottom: $blue-500 solid 2px;
    }
  }

  // skills content
  .skills-content-wrap {
    border-left: 1px solid rgba(209, 213, 219, 0.9);
    padding-left: 30px;
    margin-top: 26px;
    .skills-content {
      display: flex;
      flex-direction: column;
      gap: 16px;
      .skills-position {
        display: flex;
        gap: 26px;
      }
      .stack-title {
        width: 100px;
        font-weight: 700;
        font-style: normal;
        font-size: 15px;
        color: $gray-500;
      }
      .position-stack {
        font-size: 13px;
        display: flex;
        line-height: 1.5;
      }
    }
  }
}

// -------------- projects ---------------
#projects-body {
  overflow: hidden;
  position: relative;
  width: 100%; // 100% = 875px
  height: 100%;
  left: -100%;
  transition: ease-in-out 500ms;

  // header
  .projects-header {
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    padding: 14px 20px;
    width: 100%;
    background-color: rgb(59 130 246);
    .projects-title {
      margin-right: 10px;
      font-size: 38px;
      color: white;
    }
    .projects-headline {
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      white-space: nowrap;
      transition: ease-in-out 500ms;
      color: white;
      font-size: 24px;
      font-weight: 600;
      width: 0;
      .projects-braces {
        font-size: 38px;
        font-weight: 500;
      }
      .projects-git-demo {

      }
    }
  }

  // github
  #projects-demo {
    display: flex;
    align-items: center;
    text-align: center;
    transition: ease-in-out 500ms;
    position: fixed;
    top: 14px;
    right: 20px;
    z-index: 1;
    padding: 12px 20px;
    scale: 0;
    font-weight: 700;
    background-color: white;
    color: $blue-500;
    border-radius: 20px;
    cursor: default;
  }

  // go main button
  .go-main-btn {
    z-index: 1;
    background-color: rgba(0,0,0,0.7);
    padding: 12px;
    color: white;
    position: fixed;
    bottom: -50px;
    right: 20px;
    border-radius: 20px;
    font-size: 20px;
    transition: ease-in-out 500ms;
  }

  // login, main, side project wrapping
  #section-wrap {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 73px;

    // login
    #projects-login {
      flex: 0 0 100%;
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 100%;
      padding: 20px;
      background-color: red;
    }
    // main
    #projects-main {
      flex: 0 0 100%;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 100%;
      padding: 24px;

      .projects-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
      }
    }
    // side
    #projects-side-project {
      flex: 0 0 100%;
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 100%;
      padding: 20px;
      background-color: green;
    }
  }

  // zete project
  #projects-zete {
    overflow: hidden;
    position: relative;
    left: 100%;
    width: 100%;
    height: 100%;
    padding: 93px 20px 0 20px;
    background-color: skyblue;
  }
}


























